<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button id="logoutBtn" size="large" >
      <ion-icon slot="icon-only"  name="log-in-outline" color="dark"></ion-icon>
    </ion-button>
    <ion-title>DuocUC</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">
  
    <ion-list>
      <ion-list-header lines="full">
        <ion-label>Asistencia</ion-label>
      </ion-list-header>
      <ion-item lines="full" class="listHeader">
        <ion-label><ion-icon name="book"></ion-icon> Asignatura</ion-label>
        <ion-label slot="end">Ausente/Presente</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle labelPlacement="stacked" alignment="center" >Arquitectura</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle labelPlacement="stacked" alignment="center" >Aplicaciones Moviles</ion-toggle>

      </ion-item>
      <ion-item>
        <ion-toggle  labelPlacement="stacked" alignment="center">Estadistica</ion-toggle>
        
      </ion-item>
      <ion-item>
        <ion-toggle  labelPlacement="stacked" alignment="center">Ingles</ion-toggle>

      </ion-item>
      <ion-item>
        <ion-toggle  labelPlacement="stacked" alignment="center">Calidad De Software</ion-toggle>

      </ion-item>
    </ion-list>
</ion-content>
