:root{
    --color-primario: rgba(26, 26, 26, 1) ;
    --color-secundario: rgba(255, 184, 0, 1) ;
}
.container {
		#login-box{
			padding-left: 8px;
			padding-right: 8px;
            background: rgba(255, 255, 255, 0.747);
            color: black;
            text-align: center;
            border-radius: 10%;
            height: 300px;
            font-size: large;

        #boton1{
            --background: rgba(255, 184, 0, 1);
            width: 100%;
            font-size: small;
        } 
        #boton2{
            --background: rgba(26, 26, 26, 1);
            
        }   
		}
    margin: 15% 10%;
    height: 400px;
    
    
}
.container  *{
    margin-bottom:20px;
}


ion-toolbar {
	ion-title{
		text-align: center;
		color: white;
		font-size: xx-large;
	}
	--background: linear-gradient(45deg, rgba(26,26,26,1) 68%, rgba(255,184,0,1) 68%);
}
ion-content {
    
    --background: center / cover no-repeat  url('/assets/img/Alameda.jpg') ;
    
}
ion-button{
    font-size: 12q
}
#label{
    --highlight-color:rgba(26, 26, 26, 1);
}

