<ion-header  >
  <ion-toolbar >
    <ion-title>DuocUC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #page>
	<div class="container">
		
		<ion-list id="login-box">
			<ion-input
					id="label"
					label="Usuario"
					labelPlacement="floating"
					name="user"
					[(ngModel)]="user">
			</ion-input>
			<ion-input
					id="label"
					type="password"
					label="Contraseña"
					labelPlacement="floating"
					name="pw"
					[(ngModel)]="pw">
			</ion-input>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-button
							id="boton1"
							(click)="validarLogin()"
							size="default"
						>Ingresar</ion-button>
					</ion-col>
					<ion-col>
						<ion-button
							id="boton2"
							
							[routerLink]="['/new-pass']"
							size="small"
						>Recuperar Contraseña</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-list>
	</div>
</ion-content>
