<ion-header  >
  <ion-toolbar >
    
    <ion-title>Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-list>
      <ion-input
          placeholder="Username"
          name="user"
          [(ngModel)]="user">
      </ion-input>
      <ion-input
          placeholder="Password"
          name="pw"
          [(ngModel)]="pw">
      </ion-input>
      <ion-button color="danger" (click)="validarLogin()">
        Login
      </ion-button>
    </ion-list>
  </div>
</ion-content>
