<ion-header  >
  <ion-toolbar >
    <ion-title>DuocUC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #page>
	<div #div class="container">
		<form id="login-box" [formGroup]="logForm">
			<ion-input
				formControlName="email"
				id="label"
				label="Usuario"
				labelPlacement="floating">
			</ion-input>
			<ion-input
				formControlName="pw"
				id="label"
				type="password"
				label="Contraseña"
				labelPlacement="floating">
			</ion-input>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-button
							id="boton1"
							(click)="login()"
							size="default"
						>Ingresar</ion-button>
					</ion-col>
					<ion-col>
						<ion-button
							id="boton2"
							[routerLink]="['/new-pass']"
							size="small"
						>Recuperar Contraseña</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>
</ion-content>
