<ion-header [translucent]="true">
  <ion-toolbar>
    
<ion-button id="logoutBtn" size="large" (click)="logout()">
  <ion-icon slot="icon-only"  name="log-in-outline" color="light"></ion-icon>
</ion-button>
    <ion-title>
      DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #welcom class="container">
    <h1>Bienvenido</h1>
    <div *ngFor="let c of char; index as i">
      <div *ngIf="i == 5">
        <img [src]="c.image">
      </div>
    </div>
    
  </div>
  <div #E class="supercontainer">
    <ion-list>
      <ion-button expand="block" (click)="takePhoto()">ESCANEAR QR    .<ion-icon name="qr-code-outline"></ion-icon></ion-button>
      <ion-button expand="block" [routerLink]="['reg-asis']">VER ASISTENCIA</ion-button>
    </ion-list>
  </div>
</ion-content>
