<ion-header [translucent]="true">
  <ion-toolbar>
    
<ion-button id="logoutBtn" size="large" (click)="logout()">
  <ion-icon slot="icon-only"  name="log-in-outline" color="dark"></ion-icon>
</ion-button>
    <ion-title>
      DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #div class="container">
    <h1>Bienvenido</h1>

    
  </div>
  <div #E class="supercontainer">
    <ion-list>
    <ion-button expand="block">ESCANEAR QR    .<ion-icon name="qr-code-outline"></ion-icon></ion-button>
    <ion-button expand="block">VER ASISTENCIA</ion-button>
    <ion-button expand="block">
      <ion-icon name="heart-outline"></ion-icon>BESITO AL PROFE<ion-icon name="heart-outline"></ion-icon></ion-button>
  </ion-list>
  </div>
</ion-content>
